:root {
    --main-color: #16c79a;
    --side-color: #007965;
    --gray-color: #8390A2;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Sidebar */

.sidebar-menu {
    margin-left: 30px;
    height: 100vh;
    display: flex;
    position: fixed;
    width: 60px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

.sidebar-menu ul{
    background-color: #fff;
    border-radius: 15px;
}

.sidebar-menu ul li {
    list-style-type: none;
    display: inline;
}

.sidebar-menu ul li i {
    padding: 5px;
    font-size: 2.5rem;
    color: var(--side-color);
    cursor: pointer;
    margin: 8px auto;
}

.sidebar-menu ul li span {
    visibility: hidden;
    font-size: 1.2rem;
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    background-color: var(--side-color);
    padding: 2px 10px;
    border-radius: 15px;
    color: #fff;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}

.sidebar-menu ul li:hover span {
    visibility: visible;
    opacity: 1;
}

.sidebar-menu ul li i.active {
    display: inline-block;
    background-color: var(--side-color);
    border-radius: 10px;
    color: #fff;
}

/* Main Container */

.main-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 11vw;
}

main {
    width: 80vw;
}

/* HOME MENU */

#home {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
}

#home .info-profile {
    margin: 30px;
}

#home .img-profile img {
    border-radius: 50%;
    width: 350px;
    margin: 30px
}

#home .info-profile div {
    margin-bottom: 30px;
    margin-top: 50px;
}

#home .info-profile div h1 {
    color: var(--main-color);
    margin-bottom: 10px;
}

#home .info-profile h3 span {
    background-color: var(--side-color);
    color: #fff;
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 1.1rem;
}

#home .info-profile span {
    display: inline-block;
    color: var(--gray-color);
}

/* About Menu */

#about {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    column-gap: 25px;
    justify-content: space-between;
    margin: 50px;
}

#about h2 {
    background-color: var(--main-color);
    padding: 2px 8px;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 15px;
    text-align: center;
}

#about .profile table {
    width: 100%;
    border-spacing: 10px;
}

#about .profile tr td:last-child {
    color: var(--gray-color);
}

#about .hobby ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    color: var(--gray-color);
}

#about .hobby ul li {
    margin: 0px 5px;
    position: relative;
}

#about .hobby ul li i {
    display: block;
    font-size: 6rem;
}

#about .hobby ul li:hover span {
    position: absolute;
    display: block;
    margin-top: -10px;
    margin-left: 10px;
    opacity: 1;
}

#about .hobby ul li span {
    background-color: var(--side-color);
    color: #fff;
    display: none;
    text-align: center;
    border-radius: 10px;
    z-index: 1;
    width: 80%;
}

#about .games table {
    width: 100%;
    border-spacing: 10px;
}

#about .games tr td:last-child {
    color: var(--gray-color);
}

/* Skills */

#skills {
    display: flex;
    margin: 80px 0 50px 30px;
    align-items: flex-start;
    justify-content: space-evenly;
}

#skills .language, .frameworks, .tools {
    width: 50%;
    margin: 0 10px;
    border-radius: 10px;
    padding: 15px 20px 30px 20px;
    box-shadow: 2px 3px 13px 2px rgba(0, 0, 0, 0.25);
}

#skills h2{
    color: var(--side-color);
    border-bottom: 2px dotted var(--gray-color);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#skills div span {
    display: inline-block;
    margin: 4px 0;
    color: var(--gray-color);
}

#skills .percentage {
    width: 90%;
    height: 20px;
    border: 2px solid var(--main-color);
    border-radius: 15px;
    overflow: hidden;
}

#skills .percentage div {
    height: 100%;
    background-color: var(--main-color);
}

/* Works */

#works{
    margin:80px 30px;
}

#works h2{
    margin:0 10px;
    color: var(--side-color);
}

#works .flex-container{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 20px
}

#works .flex-container div {
    box-sizing: border-box;
    flex:45%;
    padding: 20px;
    margin: 10px 0px;
}

#works .flex-container div:first-child {
    background-color: var(--main-color);
    border-radius: 10px;
}

#works .flex-container div:first-child p{
    color: #fff;
}

#works .flex-container div:first-child span a{
    color: #fff;
}

#works .flex-container div p{
    font-size: 0.9rem;
    margin: 10px 0;
    color: var(--gray-color);
}

#works .flex-container div span{
    display: inline-block;
    width: 35%;
    font-size: 0.8rem;
}

#works .flex-container div span a{
    color: var(--main-color);
}

#works .flex-container div span a:hover {
    color: var(--gray-color);
}

/* Educations */

#educations{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin:40px auto;
    width: 85%;
    border-radius: 15px;
    box-shadow: 2px 3px 13px 2px rgba(0, 0, 0, 0.25);
}

#educations div.flex-container{
    display: flex;
    flex:50%;
    align-items: center;
    justify-content: center;
}

#educations div.flex-container:first-child {
    border-right: 1px solid var(--gray-color);
}

#educations .flex-container div{
    margin: 10px;
}

#educations .flex-container p{
    font-size: 0.9rem;
    color: var(--gray-color);
}

#educations .flex-container span{
    color: var(--side-color);
}

/* Portofolio */
#portofolio{
    margin: 20px 0 80px 0;
}

#portofolio .project {
    text-align: center;
    margin-top: 80px;
}

#portofolio .project span {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    padding: 5px 30px;
    border-radius: 10px;
}

#portofolio .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#portofolio .flex-container .card {
    flex: 40%;
    display: flex;
    margin: 20px;
    height: 160px;
    border-radius: 10px;
    box-shadow: 2px 3px 13px 2px rgba(0, 0, 0, 0.25);
}

#portofolio .flex-container .card .left {
    position: relative;
    margin-left: 0 40px;
    max-width: 700px;
    background-color: #fff;
}

#portofolio .flex-container .card .left img {
    margin: auto;
    max-width: 100%;
    width: 10em;
    height: 10em;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

#portofolio .flex-container .card .left span {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 10px;
    font-size: 0.7rem;
    background-color: var(--side-color);
    padding: 2px 5px;
    border-radius: 15px;
}

#portofolio .flex-container .card .left span a {
    color: #fff;
}

#portofolio .flex-container .card .left span :hover {
    opacity: 0.7;
}

#portofolio .flex-container .card .right {
    padding: 15px 25px;
}

#portofolio .flex-container .card .right span {
    background-color: darkslategrey;
    color: #fff;
    font-size: 0.8rem;
    padding: 2px 7px;
    border-radius: 10px;
}

#portofolio .flex-container .card .right h4 {
    color: #000;
    margin: 10px 0;
}

#portofolio .flex-container .card div ul {
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#portofolio .flex-container .card div ul li{
    flex:50%;
    color: var(--gray-color);
    font-size: 0.9rem;
}

.stop{
    border-radius: 50%;
    background-color: red;
    color: red;
}

.done {
    border-radius: 50%;
    background-color: green;
    color: green;
}

.stop{
    border-radius: 50%;
    background-color: red;
    color: red;
}

.progress {
    border-radius: 50%;
    background-color: orange;
    color: orange;
}

.coming{
     border-radius: 50%;
     background-color:blue;
     color: blue;
}

/* Contact */

#contact{  
    width: 98.5vw;
    margin-left: -11vw;
    background-color: var(--main-color);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

#contact h2{
    display: inline-block;
    color: #fff;
    border-bottom: 2px dotted #fff;
}

#contact .flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 120px;
    padding: 40px 0;
}

#contact .flex-container i{
    background-color: #fff;
    font-size: 3.5rem;
    padding: 10px;
    border-radius: 50%;
    color: var(--side-color);
}

#contact .flex-container i:hover {
    background-color: var(--side-color);
    color: #fff;
}

#contact span{
    display: inline-block;
    color: #fff;
    opacity: 0.7;
    margin-top: 20px;
}